<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Dairy Needs</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <link href="~/Content/Ninestars/assets/img/sacred-cow.svg" rel="icon">
</head>

<body>
    @RenderBody() 
</body>
</html>
